# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================= #
# Project generated #
# ================= #
.~lock.*
*.pyc
docker-compose.yml
/settings/settings.json*
/db/*.json*


/.tox/
