<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>About</title>
  </head>
  <body>
    <div class="container">
      <h1>Basic Social Service for Games</h1>
      <p class="text-justify">
        The service works as a docker container. At the moment it only supports highscores.
      </p>
      <div class="well"><a href="https://github.com/local-minimum/UnitySocial">Source Code @ Github</a>
    </div>
  </body>
</html>
