<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Highscores | {{ name }}</title>
  </head>
  <body>
    <div class="container">
      <h1>Highscores for: <em>{{ name }}<em></h1>
      {% for score in scores.values() %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <stong>{{ score.name }}</strong>
          {% if not score.count %}
          <span class="label label-warning">
            No Highscores
          </span>
          {% else %}
          <span class="label label-success">
            {{ score.count }} Highscores
          </span>
          {% endif %}
        </div>
        <div class="panel-body">
          {% if score.description %}
          <p class="text-justify">{{ score.description }}</p>
          {% else %}
          <p class="text-justify">No explanation given for this high-score, hopefully it is self-explanatory.</p>
          {% endif %}
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>{{score.score_name}}</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in all_highscores[score.type] %}
            <tr>
              <th scope="row">{{ entry.rank }}</th>
              <td>{{ entry.name }}</td>
              <td>{{ entry.score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
