<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Highscores | {{ name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1>Highscores for: <em>{{ name }}<em></h1>
      {% for score in scores.values() %}
      <h2>{{ score.name }}</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% if not score.count %}
          <tr class="warning">
            <td colspan="3">
              No highscores yet!
            </td>
          </tr>
          {% else %}
          <tr class="success">
            <td colspan="3">
              {{ score.count }} highscores registered.
            </td>
          </tr>
          {% endif %}
          {% for entry in all_highscores[score.type] %}
          <tr>
            <th scope="row">{{ entry.rank }}</th>
            <td>{{ entry.name }}</td>
            <td>{{ entry.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    </div>
  </body>
</html>
